Repository ELS-RD/transformer-deploy, pull requests merged in 2022-07, with the labels that each got.

#84 Add question-answering model
  README.md
  demo/README.md
  demo/question-answering/README.md
  demo/question-answering/query_bin_gen.ipynb
  demo/question-answering/query_body.bin
  demo/question-answering/triton_client.py
  src/transformer_deploy/backends/ort_utils.py
  src/transformer_deploy/backends/pytorch_utils.py
  src/transformer_deploy/backends/trt_utils.py
  src/transformer_deploy/benchmarks/utils.py
  src/transformer_deploy/convert.py
  src/transformer_deploy/triton/configuration_question_answering.py
  src/transformer_deploy/utils/args.py
  src/transformer_deploy/utils/question_answering.py
  tests/test_models.py
  tests/test_triton.py
Labels: enhancement, Triton

#99 feat: reduce memory footprint of T5 notebook to make it work with 3b model
  Makefile
  demo/generative-model/.gitignore
  demo/generative-model/gpt2.ipynb
  demo/generative-model/t5.ipynb
  demo/generative-model/t5_bf16.ipynb
  pytest.ini
  requirements.txt
  src/transformer_deploy/backends/onnx_utils.py
  src/transformer_deploy/backends/ort_utils.py
  src/transformer_deploy/backends/pytorch_utils.py
  src/transformer_deploy/backends/trt_utils.py
  src/transformer_deploy/convert.py
  tests/test_models.py
  tests/test_ort_utils.py
Labels: enhancement, performance, ONNX Runtime

#114 feat: add torchdynamo notebook
  demo/README.md
  demo/generative-model/t5_tensorrt.py
  demo/torchdynamo/benchmark.ipynb
  demo/torchdynamo/dynamo_utils.py
  requirements.txt
  requirements_cpu.txt
  requirements_gpu.txt
  src/transformer_deploy/backends/onnx_utils.py
  src/transformer_deploy/backends/ort_utils.py
  src/transformer_deploy/backends/pytorch_utils.py
  src/transformer_deploy/backends/trt_utils.py
  src/transformer_deploy/convert.py
Labels: bug, enhancement, performance, TensorRT, Pytorch
